/*palheta de cores do site, para usar basta aplicar color: var("nome da var")*/
:root{
    --blue: #2B2D42;
    --blue2: #8D99AE;
    --blue3:#234063;
    --blue4:#1E2D3F;
    --white: #EDF2F4;


}

/* formata o site para todos ficarem em uma posição "Reset", alguns navegadores possuem um
    CSS por padrão, isso remove eles*/
*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: "montserrat";
}
#active{
    border: 1px solid var(--blue3);
    background-color: var(--blue3);
    color: white;
}

.header .menuOculto{
    font-weight: bold;
}
.elements-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;

}
#logo-header img{
    width: 45vw;
}
.elementsHeader-desktop{
    display: none;
}
.menuOculto a{
    text-decoration: none;
    color: #fff;
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: 0.4s;
}
.menuOculto a:hover{
    color: var(--blue2);
    background-color: #234063;
}
.btn-close{
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: transparent;
    border: none;

    font-size: 32px;
    color: var(--white);
    cursor: pointer;
    padding: 2px;
    width: 40px;
    transition: 0.5s;
}
.btn-close:hover{
    background-color: #234063;
    border-radius: 10px;
    transition: border 0.5s;

}
.menuOculto{
    height: 100%;
    width: 300px;
    margin-left: -100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1E2D3F;
    transition: 0.5s;
    padding-top: 60px;
    transition: border 0.5s;
    text-align: left;
}

#elements-header{
    margin-left: 16px;
}



.main-image{
    margin: 0;
    left: -5px ;
    width: 100%;
    position: relative;
}
.image-text{
    position: absolute;
    top: 1px;
    margin-left:1rem ;
    font-size: 4vw;
}
.image-text2{
    color: var(--blue3)
}
.btn-main{
    position: absolute;
    top: 60%;
    left: 52%;
    width: 40vw;
    height: 8vw;
    font-size: 4vw;
    cursor: pointer;
    background-color: var(--blue4);
    border: transparent;
    border-radius: 20px;
    color: var(--white);
    font-weight: 800;
    transition: background-color 0.2s ease-in;
}
.btn-main:hover{
    background-color: var(--blue3);
    transition: background-color 0.2s ease-in;
}

.text-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 4vw;
}
.Text h1{
    margin-top: 3rem;
}
.Text p, .Text ul{
    font-weight: 700;
    margin-bottom: 3rem;
}
.icon-main-text{
    margin-bottom: 3rem;
    margin-top: 1rem;
}
.list{
    margin: 3rem;
    
}
.list li{
    text-align: center;
}
.list li::marker{
    color: var(--blue3);
}
.icon-main-text{
    width: 15vw;
}

.FAQ{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8vw 0 8vw 0;
}
.FAQ h1{
    color: var(--blue3);
    font-size: 6vw;

}
.FAQ-menu{
    width: 70%;
    background-color: #234063;
    margin-top: 4rem;
    text-align: center;
    border-radius: 20px 20px 0  0;
    align-items: center;
    cursor: pointer;
    font-size: 4vw;
    border: none;
}
.FAQ-menu h1{
    color: #fff;
    padding: 20px 0 20px 0;
    font-size: 4vw;
}
.FAQ-menu img{
    position: relative;
    left: 30px;
    top: 8px;
    width: 2rem;
}
.FAQ-Container{
    font-size: 4vw;
    width: 32rem;
    background-color: #CCCDCD;
    text-align: center;
    align-items: center;
    padding: 10px 0 20px 0;
    

}
.footer-menu{
    width: 32rem;
    height: 3vh;
    background-color: var(--blue3);
    border-radius: 0 0 20px 20px;
}
.footer{
    margin-top: 3vh;
    width: 100%;
    background-color: var(--blue3);
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--white);

}
.elements-footer a, .elements-footer ul{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    color: var(--white);
    margin-bottom: 2rem;
    align-items: center;
    
}
.elements-footer{

    margin: 1rem;
}
.icons-footer{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
}
.icons-footer img{
    padding: 1rem;
    width: 7.4vw;
    height: 7.4vh;
}

@media screen and (min-width:720px) {
    .elementsHeader-desktop{
        display: inline;
        margin: 0 0 0 2%;
    }
    #active{
        padding: 7px;
        border-radius: 10px;
        opacity: 0.8;
    }
    .elementsHeader-desktop a{
        text-decoration: none;
        color: var(--blue3);
        font-weight: bolder;
        margin-right: 20px;
    
    }
    .btn-main{
        width: 25vw;
        height: 7vw;
        font-size: 3vw;
        left: 70%;
        top: 70%;
    }
    .text-body{
        font-size: 2vw;
    }
    .icon-main-text{
        width: 8vw;
    }

    #logo-header img{
        width: 15em;
    }
    .image-text{
        font-size: 3.5vw;
    }
    #elements-header{
        display: none;
    }
    .list li{
        margin: 0 0 10px 100px;
        
    }
    .FAQ h1{
        font-size: 3.5vw;
    }
    .FAQ-menu{
        width: 40vw;
    }
    .FAQ-menu h1{
        font-size: 3vw;
    }
    .FAQ-Container {
        font-size: 2vw;
    }
    .elements-footer{

    }
    .elements-footer ul{
        flex-direction: row;
        align-items: normal;
        margin: 3rem 0 2rem 15rem;
        
    }
    .elements-footer ul a{
        margin-right: 4rem;

    }

}
